<div class="bg-white flex flex-col m-2 px-6 py-4 rounded-lg min-w-fit">
  <h1 class="text-2xl font-semibold pb-2 mb-2 border-b">Leave Requests</h1>
  <app-paginated-table [items]="items" (pageChange)="activePageItems = $event">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">{{ "ID" }}</th>
        <th scope="col" class="px-6 py-3">{{ "Status" }}</th>
        <th scope="col" class="px-6 py-3">{{ "Type" }}</th>
        <th scope="col" class="px-6 py-3 xl:hidden">{{ "From" }}</th>
        <th scope="col" class="px-6 py-3 hidden xl:table-cell">
          {{ "From Date" }}
        </th>
        <th scope="col" class="px-6 py-3 hidden xl:table-cell">
          {{ "From Time" }}
        </th>
        <th scope="col" class="px-6 py-3 xl:hidden">{{ "To" }}</th>
        <th scope="col" class="px-6 py-3 hidden xl:table-cell">
          {{ "To Date" }}
        </th>
        <th scope="col" class="px-6 py-3 hidden xl:table-cell">
          {{ "To Time" }}
        </th>
        <th scope="col" class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody>
      <!-- @for (bp of BP_list; track bp.CardCode) { -->
      <tr
        *ngFor="let req of activePageItems; trackBy: trackByRequestId"
        class="odd:bg-white even:bg-gray-50 border-b"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ req.leaveID }}
        </th>

        <td class="px-6 py-4">{{ req.status }}</td>
        <td class="px-6 py-4">{{ req.leaveType }}</td>
        <td class="px-6 py-4 xl:hidden">
          {{ (req.fromTime ?? "00:00") + " - " + req.fromDate }}
        </td>
        <td class="px-6 py-4 hidden xl:table-cell">{{ req.fromDate }}</td>
        <td class="px-6 py-4 hidden xl:table-cell">{{ req.fromTime }}</td>
        <td class="px-6 py-4 xl:hidden">
          {{ (req.toTime ?? "00:00") + " - " + req.toDate }}
        </td>
        <td class="px-6 py-4 hidden xl:table-cell">{{ req.toDate }}</td>
        <td class="px-6 py-4 hidden xl:table-cell">{{ req.toTime }}</td>
        <td class="px-6 py-4 flex justify-center gap-2">
          <app-request-details-button
            (click)="setActiveItemDetails(req)"
            [isEditable]="req.status === 'Pending'"
          />
          <app-cancel-request-popup
            *ngIf="req.status === 'Pending'"
            [service]="leaveService"
            [id]="req.leaveID"
          />
        </td>
      </tr>
      <!-- } -->
    </tbody>
  </app-paginated-table>
  <div class="fixed end-7 bottom-6 group">
    <app-new-leave-request />
  </div>
</div>
<app-leave-request-details
  *ngIf="activeItemDetails"
  [(isOpen)]="ItemDetailsOpen"
  [item]="activeItemDetails"
  [isEditable]="activeItemDetails.status === 'Pending'"
/>
