<div class="fixed end-7 bottom-6 group">
  <app-modal [isFooterHidden]="true">
    <button
      openButton
      title="New"
      type="button"
      class="flex items-center justify-center text-white bg-primary-300 rounded-full w-14 h-14 hover:bg-primary-200 focus:ring-4 focus:ring-blue-300 focus:outline-none"
    >
      <svg
        class="w-5 h-5 transition-transform"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 18 18"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 1v16M1 9h16"
        />
      </svg>
      <span class="sr-only">Open actions menu</span>
    </button>
    <h1 modalTitle class="text-xl font-semibold">{{ title }}</h1>
    <div class="bg-white flex flex-col m-2 px-6 py-4 rounded-lg">
      <ng-content />
    </div>
  </app-modal>
</div>
