<section
  class="w-screen h-screen bg-primary-300 flex justify-center items-center overflow-y-auto p-1"
  [dir]="languageService.dir"
>
  <div
    href="#"
    class="max-w-md 2xl:w-3/5 py-4 2xl:py-8 bg-white border-[3px] border-primary-500 rounded-xl shadow-2xl shadow-black font-semibold text-white"
  >
    <div
      class="items-center relative flex flex-col text-gray-700 bg-transparent shadow-none rounded-xl bg-clip-border"
    >
      <img
        src="../../assets/logo.png"
        alt=""
        srcset=""
        class="max-w-[45%] py-12"
      />
      <form
        class="mt-8 mb-2 max-w-fit sm:w-80 md:w-96 md:max-w-screen-lg"
        (ngSubmit)="onSubmit()"
        [formGroup]="loginForm"
      >
        <div class="flex flex-col gap-6 mb-1">
          <!-- <app-input title="Username">
            <input placeholder="username" formControlName="username" />
          </app-input> -->
          <h3
            class="block -mb-3 font-sans text-xl antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900"
          >
            {{ "Username" | translate }}
          </h3>
          <div class="relative h-11 w-full min-w-[200px]">
            <div
              class="absolute grid w-5 h-5 place-items-center text-blue-gray-500 top-2/4 left-3 rtl:right-3 -translate-y-2/4"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                style="width: 100%; height: 100%; fill: currentColor"
              >
                <title>account</title>
                <path
                  d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"
                />
              </svg>
            </div>
            <input
              placeholder="username"
              formControlName="username"
              class="ps-10 h-full w-full rounded-md border-2 border-primary-200 bg-transparent px-3 py-3 font-sans text-base font-normal transition-all disabled:border-0 disabled:bg-blue-gray-50"
            />
            <span
              *ngIf="
                loginForm.get('username')?.invalid &&
                loginForm.get('username')?.dirty
              "
              class="text-red-500 font-normal text-sm ml-1"
              >{{ "Username is required" | translate }} *</span
            >
          </div>
          <h3
            class="block -mb-3 font-sans text-xl antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900"
          >
            {{ "Password" | translate }}
          </h3>
          <div class="relative h-11 w-full min-w-[200px]">
            <div
              class="absolute grid w-5 h-5 place-items-center text-blue-gray-500 top-2/4 left-3 rtl:right-3 rtl:-scale-x-100 -translate-y-2/4"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                style="width: 100%; height: 100%; fill: currentColor"
              >
                <path
                  d="M 7 5 C 3.134 5 0 8.134 0 12 C 0 15.866 3.134 19 7 19 C 10.170669 19 12.846171 16.890989 13.707031 14 L 18 14 L 18 17 L 22 17 L 22 14 L 24 14 L 24 10 L 13.707031 10 C 12.846171 7.1090112 10.170669 5 7 5 z M 7 9 C 8.657 9 10 10.343 10 12 C 10 13.657 8.657 15 7 15 C 5.343 15 4 13.657 4 12 C 4 10.343 5.343 9 7 9 z"
                ></path>
              </svg>
            </div>
            <input
              type="password"
              placeholder="password"
              formControlName="password"
              class="ps-10 h-full w-full rounded-md border-2 border-primary-200 bg-transparent px-3 py-3 font-sans text-base font-normal transition-all disabled:border-0 disabled:bg-blue-gray-50"
            />
            <span
              *ngIf="
                loginForm.get('password')?.invalid &&
                loginForm.get('password')?.dirty
              "
              class="text-red-500 font-normal text-sm ml-1"
              >{{ "Password is required" | translate }} *</span
            >
          </div>
        </div>
        <button
          class="mt-14 flex items-center justify-center gap-4 w-full select-none rounded-lg bg-primary-300 hover:bg-primary-200 py-3 px-6 text-center align-middle font-sans text-sm font-semibold capitalize text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          type="submit"
          [disabled]="!loginForm.valid || loginForm.pristine"
        >
          {{ "Sign In" | translate }}

          <div role="status" [hidden]="!isLoading">
            <svg
              aria-hidden="true"
              class="w-4 h-4 text-gray-200 animate-spin fill-blue-600"
              viewBox="0 0 100 101"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor"
              />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill"
              />
            </svg>
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </form>
    </div>
  </div>
</section>
