<div class="bg-white flex flex-col m-2 px-6 py-4 rounded-lg min-w-fit">
  <h1 class="text-2xl font-semibold pb-2 mb-2 border-b">
    {{ "Loan Requests" | translate }}
  </h1>
  <app-paginated-table
    [items]="items"
    (pageChange)="activePageItems = $event"
    [isLoading]="isLoading"
    [isError]="isError"
    [errorMessage]="errorMessage!"
  >
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">{{ "ID" | translate }}</th>
        <th scope="col" class="px-6 py-3">{{ "Status" | translate }}</th>
        <th scope="col" class="px-6 py-3">
          {{ "Submitted Date" | translate }}
        </th>
        <th scope="col" class="px-6 py-3">{{ "Start Date" | translate }}</th>
        <th scope="col" class="px-6 py-3">{{ "Loan Type" | translate }}</th>
        <th scope="col" class="px-6 py-3">{{ "Total Amount" | translate }}</th>
        <th scope="col" class="px-6 py-3">{{ "Installments" | translate }}</th>
        <!-- <th scope="col" class="px-6 py-3">{{ "Balance" | translate }}</th> -->
        <!-- <th scope="col" class="px-6 py-3">{{ "Loan Type" | translate }}</th> -->
        <!-- <th scope="col" class="px-6 py-3">{{ "Remarks" | translate }}</th> -->
        <th scope="col" class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody>
      <!-- @for (bp of BP_list; track bp.CardCode) { -->

      <tr
        *ngFor="let req of activePageItems; trackBy: trackByRequestId"
        class="odd:bg-white even:bg-gray-50 border-b"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ req.id }}
        </th>
        <td class="px-6 py-4">{{ req.status }}</td>
        <td class="px-6 py-4">{{ req.dateSubmitted | date : "dd/MM/yyyy" }}</td>
        <td class="px-6 py-4">{{ req.startDate | date : "dd/MM/yyyy" }}</td>
        <td class="px-6 py-4">{{ req.loanName || req.loanCode }}</td>
        <td class="px-6 py-4">{{ req.totalAmount | number : "1.2-4" }}</td>
        <td class="px-6 py-4">{{ req.installmentCount }}</td>
        <td class="px-6 py-4 flex justify-center gap-2">
          <app-request-details-button
            (click)="setActiveItemDetails(req)"
            [isEditable]="isEditable(req)"
          />
          <app-cancel-request-popup
            *ngIf="isCancelable(req)"
            [service]="loanService"
            [id]="req.id"
          />
        </td>
      </tr>
      <!-- } -->
    </tbody>
  </app-paginated-table>
</div>
<app-loan-request-details
  *ngIf="activeItemDetails"
  [(isOpen)]="ItemDetailsOpen"
  [item]="activeItemDetails"
  [isEditable]="isEditable(activeItemDetails)"
/>
<app-new-loan-request />
