<div class="bg-white flex flex-col m-2 px-6 py-4 rounded-lg">
  <h1 class="text-2xl font-semibold pb-2 mb-2 border-b">Loan Requests</h1>
  <app-paginated-table
    [items]="loanRequests"
    (pageChange)="activePageItems = $event"
  >
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">{{ "ID" }}</th>
        <th scope="col" class="px-6 py-3">{{ "Status" }}</th>
        <th scope="col" class="px-6 py-3">{{ "Date" }}</th>
        <th scope="col" class="px-6 py-3">{{ "Loan Code" }}</th>
        <th scope="col" class="px-6 py-3">{{ "Total Amount" }}</th>
        <th scope="col" class="px-6 py-3">{{ "Installments" }}</th>
        <!-- <th scope="col" class="px-6 py-3">{{ "Balance" }}</th> -->
        <!-- <th scope="col" class="px-6 py-3">{{ "Loan Type" }}</th> -->
        <!-- <th scope="col" class="px-6 py-3">{{ "Remarks" }}</th> -->
        <th scope="col" class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody>
      <!-- @for (bp of BP_list; track bp.CardCode) { -->

      <tr
        *ngFor="let req of activePageItems; trackBy: trackByRequestId"
        class="odd:bg-white even:bg-gray-50 border-b"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ req.loanID }}
        </th>
        <td class="px-6 py-4">{{ req.status }}</td>
        <td class="px-6 py-4">{{ req.startDate }}</td>
        <td class="px-6 py-4">{{ req.loanCode }}</td>
        <td class="px-6 py-4">{{ req.totalAmount | number : "1.2-4" }}</td>
        <td class="px-6 py-4">{{ req.installmentCount }}</td>
        <td class="px-6 py-4 flex justify-center gap-2">
          <app-loan-request-details
            [loanRequest]="req"
            [isEditable]="req.status === 'Pending'"
          />
          <button
            *ngIf="req.status === 'Pending'"
            class="font-medium text-red-600 hover:underline"
            (click)="cancelLoanRequest(req)"
          >
            <fa-icon [icon]="faCancel"></fa-icon>
          </button>
        </td>
      </tr>
      <!-- } -->
    </tbody>
  </app-paginated-table>
  <div class="fixed end-7 bottom-6 group">
    <app-new-loan-request />
  </div>
</div>
