<div class="bg-white flex flex-col m-2 px-6 py-4 rounded-lg min-w-fit">
  <h1 class="text-2xl font-semibold pb-2 mb-2 border-b">Encashment Requests</h1>
  <app-paginated-table
    [items]="encashmentRequests"
    (pageChange)="activePageItems = $event"
  >
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">{{ "ID" }}</th>
        <th scope="col" class="px-6 py-3">{{ "Status" }}</th>
        <!-- <th scope="col" class="px-6 py-3">{{ "Type" }}</th> -->
        <th scope="col" class="px-6 py-3">{{ "Date" }}</th>
        <th scope="col" class="px-6 py-3">{{ "Unit Price" }}</th>
        <th scope="col" class="px-6 py-3">{{ "Unit Count" }}</th>
        <th scope="col" class="px-6 py-3">{{ "Total Amount" }}</th>
        <th scope="col" class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody>
      <!-- @for (bp of BP_list; track bp.CardCode) { -->

      <tr
        *ngFor="let req of activePageItems; trackBy: trackByRequestId"
        class="odd:bg-white even:bg-gray-50 border-b"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ req.encashID }}
        </th>
        <td class="px-6 py-4">{{ req.status }}</td>
        <td class="px-6 py-4">{{ req.date }}</td>
        <td class="px-6 py-4">{{ req.unitPrice | number : "1.2-4" }}</td>
        <td class="px-6 py-4">{{ req.unitCount  | number : "1.2-4" }}</td>
        <td class="px-6 py-4">{{ req.value  | number : "1.2-4" }}</td>
        <td class="px-6 py-4 flex justify-center gap-2">
          <app-encashment-request-details
            [encashmentRequest]="req"
            [isEditable]="req.status === 'Pending'"
          />
          <app-cancel-request-popup
            *ngIf="req.status === 'Pending'"
            [service]="encashmentService"
            [id]="req.encashID"
          />
        </td>
      </tr>
      <!-- } -->
    </tbody>
  </app-paginated-table>
  <div class="fixed end-7 bottom-6 group">
    <app-new-encashment-request />
  </div>
</div>
