<h3
  class="block -mb-3 font-sans text-xl antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900"
>
  {{ title }}
</h3>
<div class="relative h-11 w-full min-w-[200px]">
  <div
    class="absolute grid w-5 h-5 place-items-center text-blue-gray-500 top-2/4 left-3 -translate-y-2/4"
  >
    <ng-content [selector]="icon | svg | faIcon" />
  </div>
  <ng-content [selector]="input" />
  <span *ngIf="false" class="text-red-500 font-normal text-sm ml-1">{{
    errorMsg
  }}</span>
</div>
