<div class="overflow-y-auto px-3 py-5 h-full bg-white border-r border-gray-200">
  <div class="flex flex-col items-center text-center">
    <div
      class="flex items-center justify-center h-16 w-16 bg-gray-200 rounded-full"
    >
      <fa-icon
        class="relative bottom-1 text-gray-500 text-4xl"
        [icon]="faUser"
      ></fa-icon>
    </div>
    <h1 class="font-semibold mt-2">{{ user.fullName }}</h1>
    <h3 class="text-gray-500 text-sm">{{ user.position }}</h3>
    <!-- <app-drop-down-Items>
      <button class="mt-2"><fa-icon [icon]="faCaretDown"></fa-icon></button>
      <li>ssss</li>
    </app-drop-down-Items> -->
  </div>
  <ul class="pt-5 mt-5 space-y-2 border-t border-gray-200">
    <li>
      <a
        routerLink="employee-info"
        class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
      >
        <img src="/assets/icons/info.png" width="30" height="30" alt="" />
        <span class="ml-3">{{ "Employee Info" | translate }}</span>
      </a>
    </li>
    <li>
      <app-drop-down-Items>
        <button
          type="button"
          class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100"
        >
          <img src="/assets/icons/request.png" width="30" height="30" alt="" />
          <span class="flex-1 ml-3 text-left whitespace-nowrap">
            {{ "Requests" | translate }}
          </span>
          <fa-icon
            class="text-gray-900 text-lg pe-1"
            [icon]="faDownArrow"
          ></fa-icon>
        </button>
        <li>
          <a
            routerLink="requests/leaves"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
          >
            <img src="/assets/icons/leave.png" width="30" height="30" alt="" />
            <span class="ml-3">{{ "Leaves" | translate }}</span>
          </a>
        </li>
        <li>
          <a
            routerLink="requests/loans"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
          >
            <img src="/assets/icons/loan.png" width="30" height="30" alt="" />
            <span class="ml-3">{{ "Loans" | translate }}</span>
          </a>
        </li>
        <li>
          <a
            routerLink="requests/overtime"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
          >
            <img
              src="/assets/icons/overtime.png"
              width="30"
              height="30"
              alt=""
            />
            <span class="ml-3">{{ "Overtime" | translate }}</span>
          </a>
        </li>
        <li>
          <a
            routerLink="requests/value-transactions"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
          >
            <img
              src="/assets/icons/transactions.png"
              width="30"
              height="30"
              alt=""
            />
            <span class="ml-3">{{ "Value Transactions" | translate }}</span>
          </a>
        </li>
        <li>
          <a
            routerLink="requests/encashments"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
          >
            <img
              src="/assets/icons/Encashments.png"
              width="30"
              height="30"
              alt=""
            />
            <span class="ml-3">{{ "Encashments" | translate }}</span>
          </a>
        </li>
      </app-drop-down-Items>
    </li>
    <li>
      <app-drop-down-Items>
        <button
          type="button"
          class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100"
        >
          <img src="/assets/icons/approved.png" width="30" height="30" alt="" />
          <span class="flex-1 ml-3 text-left whitespace-nowrap">{{
            "Approvals" | translate
          }}</span>
          <fa-icon
            class="text-gray-900 text-lg pe-1"
            [icon]="faDownArrow"
          ></fa-icon>
        </button>
        <li>
          <a
            routerLink="approvals/leaves"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
          >
            <img src="/assets/icons/leave.png" width="30" height="30" alt="" />
            <span class="ml-3">{{ "Leaves" | translate }}</span>
          </a>
        </li>
        <li>
          <a
            routerLink="approvals/loans"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
          >
            <img src="/assets/icons/loan.png" width="30" height="30" alt="" />
            <span class="ml-3">{{ "Loans" | translate }}</span>
          </a>
        </li>
        <li>
          <a
            routerLink="approvals/overtime"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
          >
            <img
              src="/assets/icons/overtime.png"
              width="30"
              height="30"
              alt=""
            />
            <span class="ml-3">{{ "Overtime" | translate }}</span>
          </a>
        </li>
        <li>
          <a
            routerLink="approvals/value-transactions"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
          >
            <img
              src="/assets/icons/transactions.png"
              width="30"
              height="30"
              alt=""
            />
            <span class="ml-3">{{ "Value Transactions" | translate }}</span>
          </a>
        </li>
        <li>
          <a
            routerLink="approvals/encashments"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
          >
            <img
              src="/assets/icons/Encashments.png"
              width="30"
              height="30"
              alt=""
            />
            <span class="ml-3">{{ "Encashments" | translate }}</span>
          </a>
        </li>
      </app-drop-down-Items>
    </li>
    <li>
      <app-drop-down-Items>
        <button
          type="button"
          class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100"
        >
          <img src="/assets/icons/History.png" width="30" height="30" alt="" />
          <span class="flex-1 ml-3 text-left whitespace-nowrap">{{
            "History" | translate
          }}</span>
          <fa-icon
            class="text-gray-900 text-lg pe-1"
            [icon]="faDownArrow"
          ></fa-icon>
        </button>
        <li>
          <a
            routerLink="history/leaves"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
          >
            <img src="/assets/icons/leave.png" width="30" height="30" alt="" />
            <span class="ml-3">{{ "Leaves" | translate }}</span>
          </a>
        </li>
        <li>
          <a
            routerLink="history/loans"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
          >
            <img src="/assets/icons/loan.png" width="30" height="30" alt="" />
            <span class="ml-3">{{ "Loans" | translate }}</span>
          </a>
        </li>
      </app-drop-down-Items>
    </li>
    <li>
      <a
        routerLink="shift-system"
        class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
      >
        <img src="/assets/icons/table.png" width="30" height="30" alt="" />
        <span class="ml-3">{{ "Shift System" | translate }}</span>
      </a>
    </li>
    <li>
      <app-drop-down-Items>
        <button
          type="button"
          class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100"
        >
          <img
            src="/assets/icons/seo-report.png"
            width="30"
            height="30"
            alt=""
          />
          <span class="flex-1 ml-3 text-left whitespace-nowrap">{{
            "Reports" | translate
          }}</span>
          <fa-icon
            class="text-gray-900 text-lg pe-1"
            [icon]="faDownArrow"
          ></fa-icon>
        </button>
        <li>
          <a
            routerLink="reports/leave-balance"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
          >
            <span class="ml-3">{{ "Leave Balance" | translate }}</span>
          </a>
        </li>
        <li>
          <a
            routerLink="reports/salary-slip"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
          >
            <span class="ml-3">{{ "Salary Slip" | translate }}</span>
          </a>
        </li>
        <li>
          <a
            routerLink="reports/hourly-transactions"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
          >
            <span class="ml-3">{{ "Hourly Transactions" | translate }}</span>
          </a>
        </li>
        <li>
          <a
            routerLink="reports/loan-balance"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group"
          >
            <span class="ml-3">{{ "Loan Balance" | translate }}</span>
          </a>
        </li>
      </app-drop-down-Items>
    </li>
  </ul>
</div>
