<div class="flex text-center">
  <div class="flex-grow">
    <div class="flex justify-center">
      <div
        class="bg-blue-600 px-4 py-2 m-2 rounded text-white hover:bg-blue-500"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="bg-blue-600 px-4 py-2 m-2 rounded text-white hover:bg-blue-500"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="bg-blue-600 px-4 py-2 m-2 rounded text-white hover:bg-blue-500"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
  <div class="flex-grow">
    <h3 class="font-semibold text-3xl">
      {{ viewDate | calendarDate : view + "ViewTitle" : "en" }}
    </h3>
  </div>
  <div class="flex-grow">
    <div class="btn-group">
      <button
        class="bg-blue-600 px-4 py-2 m-2 rounded text-white hover:bg-blue-500"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </button>
      <button
        class="bg-blue-600 px-4 py-2 m-2 rounded text-white hover:bg-blue-500"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </button>
      <button
        class="bg-blue-600 px-4 py-2 m-2 rounded text-white hover:bg-blue-500"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </button>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>
