<section class="h-screen min-h-fit w-screen min-w-fit overflow-x-hidden">
  <header
    class="from-primary-400 to-secondary-400 bg-gradient-to-r text-gray-200 h-16 w-full flex justify-between items-center px-5 py-2"
  >
    <div class="flex justify-center items-center gap-3">
      <button (click)="toggleSideBar()" class="px-1 rounded">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <!-- <h1 class="text-2xl font-semibold relative bottom-0.5">My Logo</h1> -->
      <a routerLink="/">
        <img
          src="../../../assets/logo.png"
          alt="HR One"
          class="max-h-10 bg-white border border-secondary-100 p-1 rounded-md"
        />
      </a>
    </div>
    <div class="flex justify-center items-center gap-3">
      <!-- @if(selectedLang != 'en-US'){ -->
      <button
        *ngIf="selectedLang != 'en-US'"
        class="px-2 border rounded"
        (click)="changeLanguage('en-US')"
      >
        English
      </button>
      <!-- } @else { -->
      <button
        *ngIf="selectedLang != 'ar-JO'"
        class="px-2 border rounded"
        (click)="changeLanguage('ar-JO')"
      >
        العربية
      </button>
      <!-- } @if (isLoggedIn) { -->
      <div *ngIf="isLoggedIn" [dir]="selectedLangDir">
        <button
          class="w-9 h-9 border-[2px] rounded-full text-xl"
          (click)="toggleProfileMenuOpen()"
        >
          <img
            src="/assets/icons/user.png"
            class="m-auto"
            width="37"
            height="37"
            alt=""
          />
          <!-- <fa-icon class="relative bottom-0.5" [icon]="faUser"></fa-icon> -->
        </button>
        <ul
          class="from-secondary-400 to-primary-400 bg-gradient-to-bl w-52 py-1 px-2 border border-gray-400 absolute top-12 right-12 z-10 rounded flex-col hi"
          ngClass="{{ isProfileMenuOpen ? 'flex' : 'hidden' }}"
        >
          <li class="text-white font-bold border-b mb-2 pb-2 capitalize">
            {{ user.fullName }}
          </li>
          <li>
            <button
              (click)="logout()"
              class="text-white hover:text-gray-200 font-semibold w-fit"
            >
              {{ "Logout" | translate }}
            </button>
          </li>
          <li>
            <app-change-password
              class="text-white hover:text-gray-200 font-semibold"
            />
          </li>
        </ul>
      </div>
      <!-- } -->
    </div>
  </header>
  <div class="w-full min-h-[calc(100%-48px)] relative bg-gray-100">
    <aside
      class="z-50 bg-gray-50 overflow-y-auto absolute top-0 left-0 w-60 h-full lg:w-1/5 2xl:w-[14%] lg:z-0 transition-transform duration-300 ease-in-out"
      [ngClass]="{
        '-translate-x-full lg:translate-x-0': !isSideBarDefault,
        'translate-x-0 lg:-translate-x-full': isSideBarDefault
      }"
    >
      <app-side-bar-content [user]="user"></app-side-bar-content>
    </aside>
    <div
      class="z-40 fixed top-0 left-0 w-full h-full bg-black transition-opacity duration-300 lg:hidden"
      [ngClass]="{
        'opacity-0 pointer-events-none': !isSideBarDefault,
        'opacity-40': isSideBarDefault
      }"
      (click)="isSideBarDefault = false"
    ></div>
    <main
      class="flex flex-col p-3 pl-1.5 pb-20 transition-all duration-300 ease-in-out"
      [ngClass]="{
        'lg:ml-0 xl:ml-0': isSideBarDefault,
        'lg:ml-[20%] 2xl:ml-[14%]': !isSideBarDefault
      }"
      [dir]="selectedLangDir"
    >
      <router-outlet></router-outlet>
    </main>
  </div>
</section>
