<div class="bg-white flex flex-col m-2 px-6 py-4 rounded-lg min-w-fit">
  <h1 class="text-2xl font-semibold pb-2 mb-2 border-b">
    {{ "Overtime Requests" | translate }}
  </h1>
  <app-paginated-table [items]="items" (pageChange)="activePageItems = $event">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">{{ "ID" | translate }}</th>
        <th scope="col" class="px-6 py-3">{{ "Status" | translate }}</th>
        <th scope="col" class="px-6 py-3">{{ "Date" | translate }}</th>
        <!-- <th scope="col" class="px-6 py-3">{{ "From Date" | translate }}</th> -->
        <!-- <th scope="col" class="px-6 py-3">{{ "To Date" | translate }}</th> -->
        <th scope="col" class="px-6 py-3">{{ "Total Time" | translate }}</th>
        <!-- <th scope="col" class="px-6 py-3">{{ "Hours" | translate }}</th> -->
        <!-- <th scope="col" class="px-6 py-3">{{ "Minutes" | translate }}</th> -->
        <th scope="col" class="px-6 py-3">{{ "Project Name" | translate }}</th>
        <th scope="col" class="px-6 py-3">
          {{ "Overtime Hours" | translate }}
        </th>
        <th scope="col" class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody>
      <!-- @for (bp of BP_list; track bp.CardCode) { -->

      <tr
        *ngFor="let req of activePageItems; trackBy: trackByRequestId"
        class="odd:bg-white even:bg-gray-50 border-b"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ req.id }}
        </th>
        <td class="px-6 py-4">{{ req.status }}</td>
        <td class="px-6 py-4">
          {{
            req.fromDate +
              (req.toDate === req.fromDate ? "" : " - " + req.toDate)
          }}
        </td>
        <td class="px-6 py-4">
          {{
            req.hour.toString().padStart(2, "0") +
              ":" +
              req.minute.toString().padStart(2, "0")
          }}
        </td>
        <td class="px-6 py-4">{{ req.projectName || req.projectCode }}</td>
        <td class="px-6 py-4">{{ req.overtimeHours | number : "1.2-4" }}</td>
        <td class="px-6 py-4 flex justify-center gap-2">
          <app-request-details-button
            (click)="setActiveItemDetails(req)"
            [isEditable]="req.status === 'Pending'"
          />
          <app-cancel-request-popup
            *ngIf="req.status === 'Pending'"
            [service]="overtimeService"
            [id]="req.id"
          />
        </td>
      </tr>
      <!-- } -->
    </tbody>
  </app-paginated-table>
</div>
<app-overtime-request-details
  *ngIf="activeItemDetails"
  [(isOpen)]="ItemDetailsOpen"
  [item]="activeItemDetails"
  [isEditable]="activeItemDetails.status === 'Pending'"
/>
<app-new-overtime-request />
