<app-new-request-modal
  title="New Loan Request"
  (onCancel)="setInputsDefaultValues()"
>
  <form class="flex flex-col py-2" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="grid gap-3 grid-cols-2 sm:grid-cols-4 md:grid-cols-6 pb-4">
      <div class="col-span-2 flex flex-col">
        <h3
          class="text-lg pb-1 antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900"
        >
          {{ "Employee Code" | translate }}
        </h3>
        <div class="relative h-11 w-full min-w-[200px]">
          <input
            [value]="user.id"
            disabled
            class="h-full w-full rounded-md border-2 border-gray-200 bg-transparent px-3 py-3 font-sans text-base font-normal transition-all disabled:bg-gray-100"
          />
        </div>
      </div>
      <div class="col-span-2 flex flex-col">
        <h3
          class="text-lg pb-1 antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900"
        >
          {{ "Employee Name" | translate }}
        </h3>
        <div class="relative h-11 w-full min-w-[200px]">
          <input
            [value]="user.fullName"
            disabled
            class="h-full w-full rounded-md border-2 border-gray-200 bg-transparent px-3 py-3 font-sans text-base font-normal transition-all disabled:bg-gray-100"
          />
        </div>
      </div>
      <div class="col-span-2 flex flex-col">
        <h3
          class="text-lg pb-1 antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900"
        >
          Loan Type
        </h3>
        <div class="relative h-11 w-full min-w-[200px]">
          <select
            formControlName="loanType"
            class="block w-full h-11 rounded-md border-2 border-gray-300 bg-white px-3 py-2 text-base font-normal text-blue-gray-900 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 disabled:bg-gray-100"
            [ngClass]="{
              'invalid-input': shouldDisplayError('loanType')
            }"
          >
            <option *ngFor="let type of loanTypes" [value]="type.code">
              {{ type.name || type.code }}
            </option>
          </select>
          <span *ngIf="shouldDisplayError('loanType')" class="error-message">
            {{ getErrorMessage("loanType") }}
          </span>
        </div>
      </div>
      <div class="col-span-3 flex flex-col">
        <h3
          class="text-lg pb-1 antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900"
        >
          {{ "Loan Balance" | translate }}
        </h3>
        <div class="relative h-11 w-full min-w-[200px]">
          <input
            [value]="'test'"
            disabled
            class="h-full w-full rounded-md border-2 border-gray-200 bg-transparent px-3 py-3 font-sans text-base font-normal transition-all disabled:bg-gray-100"
          />
        </div>
      </div>
      <div class="col-span-3 flex flex-col">
        <h3
          class="text-lg pb-1 antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900"
        >
          {{ "Total Amount" | translate }}
        </h3>
        <div class="relative h-11 w-full min-w-[200px]">
          <input
            formControlName="totalAmount"
            type="number"
            class="h-full w-full rounded-md border-2 border-gray-200 bg-transparent px-3 py-3 font-sans text-base font-normal transition-all disabled:bg-gray-100"
            [ngClass]="{
              'invalid-input': shouldDisplayError('totalAmount')
            }"
          />
          <span *ngIf="shouldDisplayError('totalAmount')" class="error-message">
            {{ getErrorMessage("totalAmount") }}
          </span>
        </div>
      </div>
      <div class="col-span-3 flex flex-col">
        <h3
          class="text-lg pb-1 antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900"
        >
          {{ "No. Of Installments" | translate }}
        </h3>
        <div class="relative h-11 w-full min-w-[200px]">
          <input
            formControlName="installments"
            type="number"
            class="h-full w-full rounded-md border-2 border-gray-200 bg-transparent px-3 py-3 font-sans text-base font-normal transition-all disabled:bg-gray-100"
            [ngClass]="{
              'invalid-input': shouldDisplayError('installments')
            }"
          />
          <span
            *ngIf="shouldDisplayError('installments')"
            class="error-message"
          >
            {{ getErrorMessage("installments") }}
          </span>
        </div>
      </div>
      <div class="col-span-3 flex flex-col">
        <h3
          class="text-lg pb-1 antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900"
        >
          {{ "Repayment Start Date" | translate }}
        </h3>
        <div class="relative h-11 w-full min-w-[200px]">
          <input
            formControlName="startDate"
            type="date"
            class="h-full w-full rounded-md border-2 border-gray-200 bg-transparent px-3 py-3 font-sans text-base font-normal transition-all disabled:bg-gray-100"
            [ngClass]="{
              'invalid-input': shouldDisplayError('startDate')
            }"
          />
          <span *ngIf="shouldDisplayError('startDate')" class="error-message">
            {{ getErrorMessage("startDate") }}
          </span>
        </div>
      </div>
      <div class="col-span-full flex flex-col">
        <h3
          class="text-lg pb-1 antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900"
        >
          {{ "Remarks" | translate }}
        </h3>
        <div class="relative h-11 w-full min-w-[200px]">
          <input
            formControlName="remarks"
            type="text"
            class="h-full w-full rounded-md border-2 border-gray-200 bg-transparent px-3 py-3 font-sans text-base font-normal transition-all disabled:bg-gray-100"
          />
        </div>
      </div>
    </div>
    <div class="flex mt-5">
      <button
        class="flex items-center justify-center gap-4 select-none rounded-lg bg-primary-300 hover:bg-primary-200 py-3 px-6 text-center align-middle font-sans text-sm font-semibold capitalize text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="submit"
        [disabled]="form.pristine"
      >
        {{ "Save" | translate }}
        <div role="status" [hidden]="!isLoading">
          <svg
            aria-hidden="true"
            class="w-4 h-4 text-gray-200 animate-spin fill-blue-600"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor"
            />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill"
            />
          </svg>
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </div>
  </form>
</app-new-request-modal>
